html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.navbar-backcolor {
    background: #598B34  url("../images/Leaves3.png") repeat;
    border-color: #598B34;
    padding:10px !important;
}
.white-font{
  color:#fff;  
}
.navbar-backcolor a {
   color:#fff;
}

.panel-herb {
  border-color: #598B34;
}
.panel-herb > .panel-heading {
  color: #fff;
  background-color: #598B34;
  border-color: #598B34;
}
.panel-herb > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #598B34;
}
.panel-herb > .panel-heading .badge {
  color: #598B34;
  background-color: #fff;
}
.panel-herb > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #598B34;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #598B34;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #598B34;
    border-color: #598B34;
}

.img-logo{
    position:absolute !important;
    top:0 !important;
}
