.quick-menu a.active {
    background: none repeat scroll 0 0 #E8E8E8;
    color: #37363e;
}

.mailbox-menu .menu li a:hover {
    background: none repeat scroll 0 0 #E8E8E8;
    color: #333;
}
.mailbox-menu .menu li a:hover .fa {
    background: none repeat scroll 0 0 #E8E8E8;
    color: #333;
}

.mailbox-menu .menu li a.active {
    background: none repeat scroll 0 0 #E8E8E8;
    color: #333;
}

.mailbox-menu .menu li.active {
    background: none repeat scroll 0 0 #E8E8E8;
    color: #333;
}

.mailbox-inbox .item.active {
    background: #E3F2FF;
}

.mailbox-inbox .item {
    padding: 10px !important;
}

.mailbox-inbox .item h1 {
    font-size: 19px;
    margin: 0;
}

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.btn-file > input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.fileupload {
    margin-bottom: 9px;
}
.fileupload .uneditable-input {
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.fileupload .thumbnail > img {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
.fileupload-new .input-group .btn-file {
    border-radius: 0 3px 3px 0;
}
.fileupload-preview {
    height: 215px;
    line-height: 0 !important;
    margin-top: 25px;
    width: 210px;
}
.fileupload-preview img {
    height: 215px;
    line-height: 0 !important;
    min-width: 100%;
    width: 210px;
}
.fileupload .thumbnail {
    padding: 0;
}
.btn-file {
    background: #399bff none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    padding: 10px 21px;
    width: 210px;
}

.line-dashed {
    background: transparent none repeat scroll 0 0;
    border-style: dashed;
}
.line-lg {
    margin-bottom: 15px;
    margin-top: 15px;
}
.line {
    background-color: transparent;
    border-top: 1px solid #eaedef;
    border-width: 1px 0 0;
    font-size: 0;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 600px !important;
    overflow-y: auto;
}