/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

/* Yii2.ThemeFactory.net */
.jumbotron {
    text-align: center;
    border: 1px solid #ddd;
}